.icon-CircleHigh {
  color: green;
}
.icon-CircleLow {
  color: red;
}
.icon-Edit {
  font-size: 20px;
  padding: 0;
}
.icon-Edit:hover {
  color: blue;
  transition: 0.3s;
}
.icon-Low {
  font-size: 20px;
  padding: 0;
}
.icon-Low:hover {
  color: red;
  transition: 0.3s;
}
.icon-High {
  font-size: 20px;
  padding: 0;
}
.icon-High:hover {
  color: green;
  transition: 0.3s;
}

.td-Accion {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.button-New {
  margin-right: 85%;
}
.button-Search {
  margin-top: 10px;
  width: 50%;
  margin-left: 50%;
}
