
.modal-title {
    font-weight: bold; 
}
.userLock-modal-icon {
    margin-right: 15%;
    font-size: 50px; 
}
.userProfile-modal-icon {
    margin-right: 15%;
    font-size: 60px; 
}
.alert-modal {
    margin-left: 15%;
}
